.home-container {
  width: 100%;
}
.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 400px;
  flex-wrap: wrap;
  padding: 20px;
}
.chart-box {
  flex: 1;
  min-width: 300px;
  max-width: 48%;
}

.empty-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  text-align: center;
  margin: 80px;
}
.expense-overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  width: calc(100% - 180px); /* Account for sidebar (150px) + some extra margin */
  margin: 30px 0 0 170px;
  padding: 25px 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.overview-item {
  font-size: 1.2rem;
  font-weight: 600;
  color: #374151;
}

.recent-expense-section {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.recent-expenses {
  flex: 0 1 800px;
  max-width: 800px;
}
.daily-tip {
  max-width: 400px;
  margin-left: auto;
  width: 100%;
}


/* nwjkngwkjnfgwnk */

.view-all-expenses {
  margin-top: 10px;
  margin-left: 20px;
}

.view-all-expenses a {
  text-decoration: none;
  color: #3b82f6;
  font-weight: 500;
  transition: color 0.2s ease;
}

.view-all-expenses a:hover {
  color: #1d4ed8;
}


@media (max-width: 768px) {
  .recent-expense-section {
    flex-direction: column;
  }

  .daily-tip {
    max-width: 100%;
    margin-top: 20px;
  }
}
